.container {
    margin: 0 50px;
}

.container-flex {
    margin: 0 50px;
    display: flex;
}

.header {
    background-image: url(img/hero-bg.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.navbar a {
    margin: 0 20px;
    font-family: Montserrat;
    text-decoration: none;
    color: white;
}

.header-logo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #FFE600;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-content {
    max-width: 62%;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

.yellow {
    color: #FFE600;
}

.contact {
    font-weight: 700;
    font-family: Montserrat;
    background-color: #FFE600;
    border: none;
    padding: 10px 25px;
    border-radius: 2;
}

.main {
    font-family: Montserrat;
    display: flex;
    text-align: center;
    font-weight: 400;
}

.about {
    font-size: 18px;
    font-weight: 400;
}

.main div {
    width: 100%;
    padding: 20px;
}

.aboutunderline::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 10px;
    background: #FFE600;
    margin-left: auto;
    margin-right: auto;
}

.currentpage {
    border-bottom: 3px solid #FFE600;
}

.footer {
    font-weight: 400;
    color: rgb(177, 177, 177);
    font-family: Montserrat;
    background-color: rgb(207, 207, 207);
}

.bottom {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    max-width: 50%;
}

.logos {
    display: flex;
    justify-content: flex-end;
}

.logos a{
    color: black;
    font-size: 50px;
}

.footerend {
    margin: 10px 0px;
    font-weight: 500;
}

.main-text {
    margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
    .header {
    background-size: 900vh;
    }
    
    .header {
        padding-bottom: 100px;
    }

    .container-flex {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    .navbar {
        justify-content: space-between;
    }
  }